.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../Assets/bg-shorten-desktop.svg");
  background-size: cover;
  color: white;
  padding: max(3%, 50px) 0;
  background-repeat: no-repeat;
  background-color: var(--bg-purple);
  background-position: center center;
}

.form__box {
  width: 400px;
  padding: 10px 20px;
}
.form__input {
  border-radius: var(--basic-radius);
  display: flex;
  align-items: center;
  position: relative;
}
.shorten__inp {
  border: none;
  background: white;
  width: 100%;
  padding: 13px 20px;
  outline: none;
  margin-bottom: 20px;
  border-radius: var(--basic-radius);
}
.mb__remove {
  margin-bottom: 0px;
}
.login__icon {
  color: var(--paste-color) !important;
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.action__btn {
  color: white;
  font-weight: bold;
  background: var(--paste-color);
  border: none;
  padding: 15px 30px;
  border-radius: var(--basic-radius);
  cursor: pointer;
  transition: filter 200ms;
}

@media screen and (max-width: 600px) {
  .form__box {
    width: 300px;
  }

  .action__btn {
    width: 100%;
  }
  .mb__remove {
    margin-bottom: 20px;
  }
}
