@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default styles on links */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  outline-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Jost", sans-serif !important;
}

:root {
  --gray-color: #a4a3ab;
  --paste-color: hsl(180, 66%, 49%);
  --dark-purple: #232027;
  --bg-purple: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --bg-gray: #f0f1f6;
  --basic-radius: 8px;
  --basic-margin: 0 8%;
  --shadow-basic: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}

.container {
  padding: 0 10px;
  width: 100%;
  max-width: 1130px;
  margin: 0px auto;
}
.banner {
  max-width: 122rem;
  margin: 0 auto;
  width: 100%;
}
.login__font {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.action__btn {
  display: flex;
  justify-content: center;
}
